#blue {
  width:100%; 
  position:absolute;
  }
#green {
  width:100%; 
  position:absolute;
  margin-top: 540px;
  opacity:0;
  }
#pink {
  width:100%;  
  position:absolute;
  margin-top: 1200px;
  opacity:0;
  }
